<nav class="navbar">
  <div class="navbar-brand">
    {{> logo }}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a id="dashboard" class="button" href="/map"> Map </a>
            <a id="dashboard" class="button" href="/dashboard"> Add/Remove River </a>
            <a id="about" class="button" href="/about"> About </a>
          <a id="logout" class="button" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>